@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header img */
.header {
  display: flex;
  flex-direction: column; /* Image au-dessus du texte */
  align-items: center; /* Centre horizontalement */
  justify-content: center;
  text-align: center;
  margin-top: 50px; /* Espacement optionnel */
  font-family: "Montserrat", sans-serif;
}

.profile-img img {
  width: 10rem; /* Taille imposée */
  border-radius: 1rem; /* Coins arrondis */
  object-fit: cover; /* Ajuste sans déformer */
  margin-bottom: 10px;
}

.name {
  color: #4e5150;
  font-size: 24px;
}

.location {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 0.95rem;
  color: #a9a9a9;
}

/* text info */

.profile-info {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.profile-info .item {
  font-size: 18px;
  border-radius: 12px;
  width: 100px;
  height: 67px;
  background-color: #e5e5e5;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #4e5150;
  font-family: "Montserrat", sans-serif;
}

.profile-title {
  color: #bdbdbd;
  font-size: 14px;
}
